## 목차
### 1. Library Import
### 2. 학습데이터 생성
### 3. Light-gbm 모델 훈련
### 4. 교차 검증 점수 확인
### 5. 제출 파일 생성

##### train_err_data , train_quality_data, train_problem_data
###### user_id ,time ,fwver ,model_nm ,errtype ,errcode  
###### user_id ,time ,fwver ,quality_0 ~ quality_12
###### user_id ,time

train_err
models per user
total user : 15000
1    14297  : 0.95
2      702  : 0.046 
3        1  : ...

errtype :  1부터 42까지 29제외
month range : (10,11,12) #year 모두 2020

train_qual
userid 8281 (of 15000)

train_prob
total  5000
rows   5429

# 1. Library Import

In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
from tqdm import tqdm
import gc
import random
import lightgbm as lgb
import re
from sklearn.metrics import *
from sklearn.model_selection import KFold
import warnings
warnings.filterwarnings(action='ignore')

# 필요한 함수 정의
def make_datetime(x):
    # string 타입의 Time column을 datetime 타입으로 변경
    x     = str(x)
    year  = int(x[:4])
    month = int(x[4:6])
    day   = int(x[6:8])
    hour  = int(x[8:10])
    #mim  = int(x[10:12])
    #sec  = int(x[12:])
    return dt.datetime(year, month, day, hour)

def string2num(x):
    # (,)( )과 같은 불필요한 데이터 정제
    x = re.sub(r"[^0-9]+", '', str(x))
    if x =='':
        return 0
    else:
        return int(x)

In [20]:
from time import sleep as sl

In [28]:
from tqdm import tnrange

In [37]:
for x in tnrange(3,desc="test"):
    sl(0.5)
    print("ta")

test:   0%|          | 0/3 [00:00<?, ?it/s]

ta
ta
ta

In [3]:
PATH = './data/'

# 2. 학습 데이터 생성

## 2.1 train_err

* train_err_data.csv 파일의 errtype column의 value_counts를 카운트하여 학습에 사용.  
* 주어진 기간동안 user_id별로 peroblem가 한 번이라도 발생했는 지를 확인.

In [126]:
train_err  = pd.read_csv(PATH+'train_err_data.csv')
train_qual = pd.read_csv(PATH+'train_quality_data.csv')
train_prob = pd.read_csv(PATH+'train_problem_data.csv')
display(train_err.head())

   user_id            time model_nm       fwver  errtype errcode
0    10000  20201101025616  model_3  05.15.2138       15       1
1    10000  20201101030309  model_3  05.15.2138       12       1
2    10000  20201101030309  model_3  05.15.2138       11       1
3    10000  20201101050514  model_3  05.15.2138       16       1
4    10000  20201101050515  model_3  05.15.2138        4       0

###### int64 ->Object(str) -> timestamp(date64) (->perid or something)

In [181]:
pd.Timestamp(str(20201130172625))

Timestamp('2020-11-30 17:26:25')

In [197]:
## comparing each performance
import timestamp as tt
first = t()
for x in tqdm(range(200),desc="test"):
    train_err[:10].time.astype('str').apply(lambda x : pd.Timestamp(x))
last = t()- first
print(last)



first = t()
for x in tqdm(range(200)):
    train_err[:10].time.apply(lambda x : pd.Timestamp(str(x)) )
last = t()- first
print(last)

In [201]:
train_err.time.astype('str').apply(lambda x : pd.Timestamp(x) )

KeyboardInterrupt:

In [ ]:
pd.to_datetime(train_err.time.astype('str'))

In [209]:
train_err['datetime'] = pd.to_datetime(train_err.time.astype('str'),format='%Y%m%d%H%M%S')

In [279]:
train_prob['datetime'] = pd.to_datetime(train_prob.time.astype('str'),format='%Y%m%d%H%M%S')
train_qual['datetime'] = pd.to_datetime(train_qual.time.astype('str'),format='%Y%m%d%H%M%S')

#### EDA

In [285]:
train_err['user_id'].count()

16554663

In [289]:
len(train_prob['user_id'].unique()

5000

In [292]:
len(train_err.user_id.unique())

15000

In [290]:
len(train_prob)

5429

In [225]:
train_err[train_err.user_id==10000].sort_values(['datetime'])

user_id     317
time        317
model_nm    317
fwver       317
errtype     317
errcode     317
datetime    317
year        317
month       317
dtype: int64

In [238]:
dup = train_qual[train_qual.user_id==10000].duplicated()
train_qual[:len(dup)][ dup.apply(lambda x : True if x == False else False)]

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
6,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,4,0,0,0,0,4,0,0
12,20201130210000,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,8,0,0
22,20201130210000,10000,05.15.2138,0.0,0,0.0,0,0,8,0,0,0,0,8,0,0

In [266]:
pd.set_option('display.max_row',500)

In [273]:
train_prob.sort_values(['user_id'])

      user_id            time
1116    10001  20201113190000
492     10004  20201104120000
3857    10005  20201113120000
3826    10006  20201110180000
414     10006  20201110170000
...       ...             ...
3870    24983  20201123230000
2378    24984  20201130150000
3829    24990  20201121170000
2799    24997  20201115150000
4306    24998  20201110210000

[5429 rows x 2 columns]

In [268]:
train_err[train_err.user_id==10000].sort_values(['datetime'])[:]

,user_id,time,model_nm,fwver,errtype,errcode,datetime,year,month
0,10000,20201101025616,model_3,05.15.2138,15,1,2020-11-01 02:56:16,2020,11
1,10000,20201101030309,model_3,05.15.2138,12,1,2020-11-01 03:03:09,2020,11
2,10000,20201101030309,model_3,05.15.2138,11,1,2020-11-01 03:03:09,2020,11
3,10000,20201101050514,model_3,05.15.2138,16,1,2020-11-01 05:05:14,2020,11
4,10000,20201101050515,model_3,05.15.2138,4,0,2020-11-01 05:05:15,2020,11
5,10000,20201101050516,model_3,05.15.2138,26,1,2020-11-01 05:05:16,2020,11
6,10000,20201101050522,model_3,05.15.2138,4,0,2020-11-01 05:05:22,2020,11
7,10000,20201101060903,model_3,05.15.2138,15,1,2020-11-01 06:09:03,2020,11
8,10000,20201101174754,model_3,05.15.2138,16,1,2020-11-01 17:47:54,2020,11
9,10000,20201101174756,model_3,05.15.2138,4,0,2020-11-01 17:47:56,2020,11
10,10000,20201101174803,model_3,05.15.2138,4,0,2020-11-01 17:48:03,2020,11
11,10000,20201102000824,model_3,05.15.2138,26,1,2020-11-02 00:08:24,2020,11
12,10000,20201102005521,model_3,05.15.2138,15,1,2020-11-02 00:55:21,2020,11
13,10000,20201102050310,model_3,05.15.2138,16,1,2020-11-02 05:03:10,2020,11
14,10000,20201102050312,model_3,05.15.2138,4,0,2020-11-02 05:03:12,2020,11
15,10000,20201102050319,model_3,05.15.2138,4,0,2020-11-02 05:03:19,2020,11
16,10000,20201102060831,model_3,05.15.2138,15,1,2020-11-02 06:08:31,2020,11
17,10000,20201102185629,model_3,05.15.2138,16,1,2020-11-02 18:56:29,2020,11
18,10000,20201102185631,model_3,05.15.2138,4,0,2020-11-02 18:56:31,2020,11
19,10000,20201102185637,model_3,05.15.2138,4,0,2020-11-02 18:56:37,2020,11
20,10000,20201103025616,model_3,05.15.2138,15,1,2020-11-03 02:56:16,2020,11
21,10000,20201103030504,model_3,05.15.2138,12,1,2020-11-03 03:05:04,2020,11
22,10000,20201103030504,model_3,05.15.2138,11,1,2020-11-03 03:05:04,2020,11
23,10000,20201103050150,model_3,05.15.2138,16,1,2020-11-03 05:01:50,2020,11
24,10000,20201103050152,model_3,05.15.2138,4,0,2020-11-03 05:01:52,2020,11
25,10000,20201103050153,model_3,05.15.2138,26,1,2020-11-03 05:01:53,2020,11
26,10000,20201103050158,model_3,05.15.2138,4,0,2020-11-03 05:01:58,2020,11
27,10000,20201103061017,model_3,05.15.2138,15,1,2020-11-03 06:10:17,2020,11
31,10000,20201103140502,model_3,05.15.2138,12,1,2020-11-03 14:05:02,2020,11
30,10000,20201103140502,model_3,05.15.2138,14,1,2020-11-03 14:05:02,2020,11
28,10000,20201103140502,model_3,05.15.2138,10,1,2020-11-03 14:05:02,2020,11
29,10000,20201103140502,model_3,05.15.2138,11,1,2020-11-03 14:05:02,2020,11
32,10000,20201103140504,model_3,05.15.2138,3,1,2020-11-03 14:05:04,2020,11
33,10000,20201103170503,model_3,05.15.2138,14,1,2020-11-03 17:05:03,2020,11
36,10000,20201103170504,model_3,05.15.2138,10,1,2020-11-03 17:05:04,2020,11
34,10000,20201103170504,model_3,05.15.2138,12,1,2020-11-03 17:05:04,2020,11
35,10000,20201103170504,model_3,05.15.2138,11,1,2020-11-03 17:05:04,2020,11
37,10000,20201103170505,model_3,05.15.2138,3,1,2020-11-03 17:05:05,2020,11
38,10000,20201104152639,model_3,05.15.2138,16,1,2020-11-04 15:26:39,2020,11
39,10000,20201104152641,model_3,05.15.2138,4,0,2020-11-04 15:26:41,2020,11
40,10000,20201104152643,model_3,05.15.2138,26,1,2020-11-04 15:26:43,2020,11
41,10000,20201104152648,model_3,05.15.2138,4,0,2020-11-04 15:26:48,2020,11
42,10000,20201104233111,model_3,05.15.2138,15,1,2020-11-04 23:31:11,2020,11
43,10000,20201105030504,model_3,05.15.2138,12,1,2020-11-05 03:05:04,2020,11
44,10000,20201105030504,model_3,05.15.2138,11,1,2020-11-05 03:05:04,2020,11
45,10000,20201105050254,model_3,05.15.2138,16,1,2020-11-05 05:02:54,2020,11
46,10000,20201105050255,model_3,05.15.2138,4,0,2020-11-05 05:02:55,2020,11
47,10000,20201105050257,model_3,05.15.2138,26,1,2020-11-05 05:02:57,2020,11
48,10000,20201105050302,model_3,05.15.2138,4,0,2020-11-05 05:03:02,2020,11
49,10000,20201105060755,model_3,05.15.2138,15,1,2020-11-05 06:07:55,2020,11
50,10000,20201105183643,model_3,05.15.2138,16,1,2020-11-05 18:36:43,2020,11
51,10000,20201105183645,model_3,05.15.2138,4,0,2020-11-05 18:36:45,2020,11
52,10000,20201105183651,model_3,05.15.2138,4,0,2020-11-05 18:36:51,2020,11
53,10000,20201106030036,model_3,05.15.2138,16,1,2020-11-06 03:00:36,2020,11
54,10000,20201106030038,model_3,05.15.2138,4,0,2020-11-06 03:00:38,2020,11
55,10000,20201106030040,model_3,05.15.2138,26,1,2020-11-06 03:00:40,2020,11
56,10000,20201106030045,model_3,05.15.2138,4,0,2020-11-06 03:00:45,2020,11
57,10000,20201106033756,model_3,05.15.2138,15,1,2020-11-06 03:37:56,2020,11
58,10000,20201106050159,model_3,05.15.2138,16,1,2020-11-06 05:01:59,2020,11
59,10000,20201106050201,model_3,05.15.2138,4,0,2020-11-06 05:02:01,2020,11
60,10000,20201106050207,model_3,05.15.2138,4,0,2020-11-06 05:02:07,2020,11
61,10000,20201106061114,model_3,05.15.2138,15,1,2020-11-06 06:11:14,2020,11
62,10000,20201107030504,model_3,05.15.2138,11,1,2020-11-07 03:05:04,2020,11
63,10000,20201107030504,model_3,05.15.2138,12,1,2020-11-07 03:05:04,2020,11
64,10000,20201107070541,model_3,05.15.2138,14,1,2020-11-07 07:05:41,2020,11
65,10000,20201107070541,model_3,05.15.2138,12,1,2020-11-07 07:05:41,2020,11
67,10000,20201107070542,model_3,05.15.2138,3,1,2020-11-07 07:05:42,2020,11
68,10000,20201107070542,model_3,05.15.2138,11,1,2020-11-07 07:05:42,2020,11
66,10000,20201107070542,model_3,05.15.2138,10,1,2020-11-07 07:05:42,2020,11
69,10000,20201107110543,model_3,05.15.2138,10,1,2020-11-07 11:05:43,2020,11
70,10000,20201107110543,model_3,05.15.2138,12,1,2020-11-07 11:05:43,2020,11
71,10000,20201107110543,model_3,05.15.2138,14,1,2020-11-07 11:05:43,2020,11
72,10000,20201107110543,model_3,05.15.2138,11,1,2020-11-07 11:05:43,2020,11
73,10000,20201107110545,model_3,05.15.2138,3,1,2020-11-07 11:05:45,2020,11
74,10000,20201107121609,model_3,05.15.2138,16,1,2020-11-07 12:16:09,2020,11
75,10000,20201107121610,model_3,05.15.2138,4,0,2020-11-07 12:16:10,2020,11
76,10000,20201107121612,model_3,05.15.2138,26,1,2020-11-07 12:16:12,2020,11
77,10000,20201107121618,model_3,05.15.2138,4,0,2020-11-07 12:16:18,2020,11
78,10000,20201107183310,model_3,05.15.2138,15,1,2020-11-07 18:33:10,2020,11
79,10000,20201107192724,model_3,05.15.2138,16,1,2020-11-07 19:27:24,2020,11
80,10000,20201107192725,model_3,05.15.2138,4,0,2020-11-07 19:27:25,2020,11
81,10000,20201107192733,model_3,05.15.2138,4,0,2020-11-07 19:27:33,2020,11
82,10000,20201108001732,model_3,05.15.2138,26,1,2020-11-08 00:17:32,2020,11
83,10000,20201108001934,model_3,05.15.2138,15,1,2020-11-08 00:19:34,2020,11
84,10000,20201108002041,model_3,05.15.2138,16,1,2020-11-08 00:20:41,2020,11
85,10000,20201108042311,model_3,05.15.2138,15,1,2020-11-08 04:23:11,2020,11
86,10000,20201108070121,model_3,05.15.2138,16,1,2020-11-08 07:01:21,2020,11
87,10000,20201108070122,model_3,05.15.2138,4,0,2020-11-08 07:01:22,2020,11
88,10000,20201108070129,model_3,05.15.2138,4,0,2020-11-08 07:01:29,2020,11
89,10000,20201109002814,model_3,05.15.2138,26,1,2020-11-09 00:28:14,2020,11
90,10000,20201109052412,model_3,05.15.2138,15,1,2020-11-09 05:24:12,2020,11
91,10000,20201109065505,model_3,05.15.2138,16,1,2020-11-09 06:55:05,2020,11
92,10000,20201109065507,model_3,05.15.2138,4,0,2020-11-09 06:55:07,2020,11
93,10000,20201109065513,model_3,05.15.2138,4,0,2020-11-09 06:55:13,2020,11
94,10000,20201110011614,model_3,05.15.2138,15,1,2020-11-10 01:16:14,2020,11
95,10000,20201110021654,model_3,05.15.2138,16,1,2020-11-10 02:16:54,2020,11
96,10000,20201110021656,model_3,05.15.2138,4,0,2020-11-10 02:16:56,2020,11
97,10000,20201110021658,model_3,05.15.2138,26,1,2020-11-10 02:16:58,2020,11
98,10000,20201110021702,model_3,05.15.2138,4,0,2020-11-10 02:17:02,2020,11
99,10000,20201110054143,model_3,05.15.2138,15,1,2020-11-10 05:41:43,2020,11
100,10000,20201110054144,model_3,05.15.2138,4,0,2020-11-10 05:41:44,2020,11
101,10000,20201110054151,model_3,05.15.2138,4,0,2020-11-10 05:41:51,2020,11
102,10000,20201110054226,model_3,05.15.2138,16,1,2020-11-10 05:42:26,2020,11
103,10000,20201110061834,model_3,05.15.2138,15,1,2020-11-10 06:18:34,2020,11
104,10000,20201111010205,model_3,05.15.2138,16,1,2020-11-11 01:02:05,2020,11
105,10000,20201111010208,model_3,05.15.2138,26,1,2020-11-11 01:02:08,2020,11
106,10000,20201111010234,model_3,05.15.2138,15,1,2020-11-11 01:02:34,2020,11
107,10000,20201111010236,model_3,05.15.2138,4,0,2020-11-11 01:02:36,2020,11
108,10000,20201111010242,model_3,05.15.2138,4,0,2020-11-11 01:02:42,2020,11
109,10000,20201111010310,model_3,05.15.2138,16,1,2020-11-11 01:03:10,2020,11
110,10000,20201111010312,model_3,05.15.2138,15,1,2020-11-11 01:03:12,2020,11
111,10000,20201111010327,model_3,05.15.2138,16,1,2020-11-11 01:03:27,2020,11
112,10000,20201111010329,model_3,05.15.2138,4,0,2020-11-11 01:03:29,2020,11
113,10000,20201111010336,model_3,05.15.2138,4,0,2020-11-11 01:03:36,2020,11
114,10000,20201111050617,model_3,05.15.2138,15,1,2020-11-11 05:06:17,2020,11
115,10000,20201111081639,model_3,05.15.2138,16,1,2020-11-11 08:16:39,2020,11
116,10000,20201111081640,model_3,05.15.2138,4,0,2020-11-11 08:16:40,2020,11
117,10000,20201111081647,model_3,05.15.2138,4,0,2020-11-11 08:16:47,2020,11
118,10000,20201112004120,model_3,05.15.2138,26,1,2020-11-12 00:41:20,2020,11
119,10000,20201112061934,model_3,05.15.2138,15,1,2020-11-12 06:19:34,2020,11
120,10000,20201112182453,model_3,05.15.2138,16,1,2020-11-12 18:24:53,2020,11
121,10000,20201112182454,model_3,05.15.2138,4,0,2020-11-12 18:24:54,2020,11
122,10000,20201112182502,model_3,05.15.2138,4,0,2020-11-12 18:25:02,2020,11
123,10000,20201113000323,model_3,05.15.2138,26,1,2020-11-13 00:03:23,2020,11
124,10000,20201113040419,model_3,05.15.2138,15,1,2020-11-13 04:04:19,2020,11
125,10000,20201113040538,model_3,05.15.2138,12,1,2020-11-13 04:05:38,2020,11
126,10000,20201113040538,model_3,05.15.2138,11,1,2020-11-13 04:05:38,2020,11
127,10000,20201113051133,model_3,05.15.2138,16,1,2020-11-13 05:11:33,2020,11
128,10000,20201113051135,model_3,05.15.2138,4,0,2020-11-13 05:11:35,2020,11
129,10000,20201113051136,model_3,05.15.2138,26,1,2020-11-13 05:11:36,2020,11
130,10000,20201113051141,model_3,05.15.2138,4,0,2020-11-13 05:11:41,2020,11
131,10000,20201113055858,model_3,05.15.2138,15,1,2020-11-13 05:58:58,2020,11
132,10000,20201113082604,model_3,05.15.2138,16,1,2020-11-13 08:26:04,2020,11
133,10000,20201113082606,model_3,05.15.2138,4,0,2020-11-13 08:26:06,2020,11
134,10000,20201113082612,model_3,05.15.2138,4,0,2020-11-13 08:26:12,2020,11
135,10000,20201113140727,model_3,05.15.2138,15,1,2020-11-13 14:07:27,2020,11
136,10000,20201113140733,model_3,05.15.2138,4,0,2020-11-13 14:07:33,2020,11
137,10000,20201113140739,model_3,05.15.2138,4,0,2020-11-13 14:07:39,2020,11
139,10000,20201113140742,model_3,05.15.2138,16,1,2020-11-13 14:07:42,2020,11
138,10000,20201113140742,model_3,05.15.2138,16,1,2020-11-13 14:07:42,2020,11
140,10000,20201114000135,model_3,05.15.2138,26,1,2020-11-14 00:01:35,2020,11
141,10000,20201114055946,model_3,05.15.2138,15,1,2020-11-14 05:59:46,2020,11
142,10000,20201114061757,model_3,05.15.2138,16,1,2020-11-14 06:17:57,2020,11
143,10000,20201114061758,model_3,05.15.2138,4,0,2020-11-14 06:17:58,2020,11
144,10000,20201114061806,model_3,05.15.2138,4,0,2020-11-14 06:18:06,2020,11
145,10000,20201114171348,model_3,05.15.2138,15,1,2020-11-14 17:13:48,2020,11
146,10000,20201114175947,model_3,05.15.2138,16,1,2020-11-14 17:59:47,2020,11
147,10000,20201114175949,model_3,05.15.2138,4,0,2020-11-14 17:59:49,2020,11
148,10000,20201114175955,model_3,05.15.2138,4,0,2020-11-14 17:59:55,2020,11
149,10000,20201115000313,model_3,05.15.2138,26,1,2020-11-15 00:03:13,2020,11
150,10000,20201115001859,model_3,05.15.2138,15,1,2020-11-15 00:18:59,2020,11
151,10000,20201115030504,model_3,05.15.2138,12,1,2020-11-15 03:05:04,2020,11
152,10000,20201115030504,model_3,05.15.2138,11,1,2020-11-15 03:05:04,2020,11
153,10000,20201115043227,model_3,05.15.2138,13,1,2020-11-15 04:32:27,2020,11
154,10000,20201115043227,model_3,05.15.2138,12,1,2020-11-15 04:32:27,2020,11
155,10000,20201115043227,model_3,05.15.2138,3,2,2020-11-15 04:32:27,2020,11
156,10000,20201115043228,model_3,05.15.2138,6,1,2020-11-15 04:32:28,2020,11
157,10000,20201115043234,model_3,05.15.2138,7,1,2020-11-15 04:32:34,2020,11
158,10000,20201115043245,model_3,05.15.2138,14,1,2020-11-15 04:32:45,2020,11
159,10000,20201115043450,model_3,05.15.2138,14,1,2020-11-15 04:34:50,2020,11
160,10000,20201115043727,model_3,05.15.2138,14,1,2020-11-15 04:37:27,2020,11
161,10000,20201115062024,model_3,05.15.2138,16,1,2020-11-15 06:20:24,2020,11
162,10000,20201115062026,model_3,05.15.2138,4,0,2020-11-15 06:20:26,2020,11
163,10000,20201115062027,model_3,05.15.2138,26,1,2020-11-15 06:20:27,2020,11
164,10000,20201115062033,model_3,05.15.2138,4,0,2020-11-15 06:20:33,2020,11
165,10000,20201116002710,model_3,05.15.2138,26,1,2020-11-16 00:27:10,2020,11
166,10000,20201116013901,model_3,05.15.2138,15,1,2020-11-16 01:39:01,2020,11
167,10000,20201116022353,model_3,05.15.2138,16,1,2020-11-16 02:23:53,2020,11
168,10000,20201116022355,model_3,05.15.2138,4,0,2020-11-16 02:23:55,2020,11
169,10000,20201116022401,model_3,05.15.2138,4,0,2020-11-16 02:24:01,2020,11
170,10000,20201116061403,model_3,05.15.2138,15,1,2020-11-16 06:14:03,2020,11
171,10000,20201116181908,model_3,05.15.2138,16,1,2020-11-16 18:19:08,2020,11
172,10000,20201116181909,model_3,05.15.2138,4,0,2020-11-16 18:19:09,2020,11
173,10000,20201116181917,model_3,05.15.2138,4,0,2020-11-16 18:19:17,2020,11
174,10000,20201117001626,model_3,05.15.2138,26,1,2020-11-17 00:16:26,2020,11
175,10000,20201117002216,model_3,05.15.2138,15,1,2020-11-17 00:22:16,2020,11
176,10000,20201117005035,model_3,05.15.2138,16,1,2020-11-17 00:50:35,2020,11
177,10000,20201117005037,model_3,05.15.2138,4,0,2020-11-17 00:50:37,2020,11
178,10000,20201117005044,model_3,05.15.2138,4,0,2020-11-17 00:50:44,2020,11
179,10000,20201117045214,model_3,05.15.2138,15,1,2020-11-17 04:52:14,2020,11
180,10000,20201117050218,model_3,05.15.2138,16,1,2020-11-17 05:02:18,2020,11
181,10000,20201117061402,model_3,05.15.2138,15,1,2020-11-17 06:14:02,2020,11
182,10000,20201118000552,model_3,05.15.2138,16,1,2020-11-18 00:05:52,2020,11
183,10000,20201118000554,model_3,05.15.2138,4,0,2020-11-18 00:05:54,2020,11
184,10000,20201118000554,model_3,05.15.2138,26,1,2020-11-18 00:05:54,2020,11
185,10000,20201118000600,model_3,05.15.2138,4,0,2020-11-18 00:06:00,2020,11
186,10000,20201118054015,model_3,05.15.2138,15,1,2020-11-18 05:40:15,2020,11
187,10000,20201118081352,model_3,05.15.2138,16,1,2020-11-18 08:13:52,2020,11
188,10000,20201118081354,model_3,05.15.2138,4,0,2020-11-18 08:13:54,2020,11
189,10000,20201118081400,model_3,05.15.2138,4,0,2020-11-18 08:14:00,2020,11
190,10000,20201118125215,model_3,05.15.2138,15,1,2020-11-18 12:52:15,2020,11
191,10000,20201118163317,model_3,05.15.2138,14,1,2020-11-18 16:33:17,2020,11
192,10000,20201118163318,model_3,05.15.2138,10,1,2020-11-18 16:33:18,2020,11
193,10000,20201118163318,model_3,05.15.2138,3,1,2020-11-18 16:33:18,2020,11
194,10000,20201118163318,model_3,05.15.2138,12,1,2020-11-18 16:33:18,2020,11
195,10000,20201118163318,model_3,05.15.2138,11,1,2020-11-18 16:33:18,2020,11
196,10000,20201118171416,model_3,05.15.2138,16,1,2020-11-18 17:14:16,2020,11
197,10000,20201118171418,model_3,05.15.2138,4,0,2020-11-18 17:14:18,2020,11
198,10000,20201118171424,model_3,05.15.2138,4,0,2020-11-18 17:14:24,2020,11
199,10000,20201119035416,model_3,05.15.2138,15,1,2020-11-19 03:54:16,2020,11
200,10000,20201119103109,model_3,05.15.2138,16,1,2020-11-19 10:31:09,2020,11
201,10000,20201119103111,model_3,05.15.2138,4,0,2020-11-19 10:31:11,2020,11
202,10000,20201119103112,model_3,05.15.2138,26,1,2020-11-19 10:31:12,2020,11
203,10000,20201119103117,model_3,05.15.2138,4,0,2020-11-19 10:31:17,2020,11
204,10000,20201119153334,model_3,05.15.2138,14,1,2020-11-19 15:33:34,2020,11
206,10000,20201119153335,model_3,05.15.2138,11,1,2020-11-19 15:33:35,2020,11
207,10000,20201119153335,model_3,05.15.2138,12,1,2020-11-19 15:33:35,2020,11
205,10000,20201119153335,model_3,05.15.2138,10,1,2020-11-19 15:33:35,2020,11
208,10000,20201119153336,model_3,05.15.2138,3,1,2020-11-19 15:33:36,2020,11
209,10000,20201119162616,model_3,05.15.2138,15,1,2020-11-19 16:26:16,2020,11
210,10000,20201119183234,model_3,05.15.2138,16,1,2020-11-19 18:32:34,2020,11
211,10000,20201119183235,model_3,05.15.2138,4,0,2020-11-19 18:32:35,2020,11
212,10000,20201119183242,model_3,05.15.2138,4,0,2020-11-19 18:32:42,2020,11
215,10000,20201119223331,model_3,05.15.2138,12,1,2020-11-19 22:33:31,2020,11
213,10000,20201119223331,model_3,05.15.2138,14,1,2020-11-19 22:33:31,2020,11
214,10000,20201119223331,model_3,05.15.2138,10,1,2020-11-19 22:33:31,2020,11
216,10000,20201119223331,model_3,05.15.2138,11,1,2020-11-19 22:33:31,2020,11
217,10000,20201119223333,model_3,05.15.2138,3,1,2020-11-19 22:33:33,2020,11
218,10000,20201120035417,model_3,05.15.2138,15,1,2020-11-20 03:54:17,2020,11
219,10000,20201120075755,model_3,05.15.2138,16,1,2020-11-20 07:57:55,2020,11
220,10000,20201120075757,model_3,05.15.2138,4,0,2020-11-20 07:57:57,2020,11
221,10000,20201120075758,model_3,05.15.2138,26,1,2020-11-20 07:57:58,2020,11
222,10000,20201120075804,model_3,05.15.2138,4,0,2020-11-20 07:58:04,2020,11
223,10000,20201121000841,model_3,05.15.2138,26,1,2020-11-21 00:08:41,2020,11
224,10000,20201121044619,model_3,05.15.2138,15,1,2020-11-21 04:46:19,2020,11
225,10000,20201121050013,model_3,05.15.2138,16,1,2020-11-21 05:00:13,2020,11
226,10000,20201121061616,model_3,05.15.2138,15,1,2020-11-21 06:16:16,2020,11
227,10000,20201121061617,model_3,05.15.2138,4,0,2020-11-21 06:16:17,2020,11
228,10000,20201121061624,model_3,05.15.2138,4,0,2020-11-21 06:16:24,2020,11
229,10000,20201121061641,model_3,05.15.2138,16,1,2020-11-21 06:16:41,2020,11
230,10000,20201122000846,model_3,05.15.2138,26,1,2020-11-22 00:08:46,2020,11
231,10000,20201122090120,model_3,05.15.2138,15,1,2020-11-22 09:01:20,2020,11
232,10000,20201122095650,model_3,05.15.2138,16,1,2020-11-22 09:56:50,2020,11
233,10000,20201122095652,model_3,05.15.2138,4,0,2020-11-22 09:56:52,2020,11
234,10000,20201122095658,model_3,05.15.2138,4,0,2020-11-22 09:56:58,2020,11
235,10000,20201123002642,model_3,05.15.2138,26,1,2020-11-23 00:26:42,2020,11
236,10000,20201123100728,model_3,05.15.2138,15,1,2020-11-23 10:07:28,2020,11
237,10000,20201123101031,model_3,05.15.2138,16,1,2020-11-23 10:10:31,2020,11
238,10000,20201123101034,model_3,05.15.2138,4,0,2020-11-23 10:10:34,2020,11
239,10000,20201123101040,model_3,05.15.2138,4,0,2020-11-23 10:10:40,2020,11
240,10000,20201124000103,model_3,05.15.2138,26,1,2020-11-24 00:01:03,2020,11
241,10000,20201124070751,model_3,05.15.2138,15,1,2020-11-24 07:07:51,2020,11
242,10000,20201124073445,model_3,05.15.2138,16,1,2020-11-24 07:34:45,2020,11
243,10000,20201124073447,model_3,05.15.2138,4,0,2020-11-24 07:34:47,2020,11
244,10000,20201124073453,model_3,05.15.2138,4,0,2020-11-24 07:34:53,2020,11
245,10000,20201125003537,model_3,05.15.2138,26,1,2020-11-25 00:35:37,2020,11
246,10000,20201125003751,model_3,05.15.2138,15,1,2020-11-25 00:37:51,2020,11
247,10000,20201125050152,model_3,05.15.2138,16,1,2020-11-25 05:01:52,2020,11
248,10000,20201125050157,model_3,05.15.2138,4,0,2020-11-25 05:01:57,2020,11
249,10000,20201125050208,model_3,05.15.2138,4,0,2020-11-25 05:02:08,2020,11
250,10000,20201125060210,model_3,05.15.2138,15,1,2020-11-25 06:02:10,2020,11
251,10000,20201125191414,model_3,05.15.2138,16,1,2020-11-25 19:14:14,2020,11
252,10000,20201125191415,model_3,05.15.2138,4,0,2020-11-25 19:14:15,2020,11
253,10000,20201125191426,model_3,05.15.2138,4,0,2020-11-25 19:14:26,2020,11
254,10000,20201126020027,model_3,05.15.2138,15,1,2020-11-26 02:00:27,2020,11
255,10000,20201126021337,model_3,05.15.2138,16,1,2020-11-26 02:13:37,2020,11
256,10000,20201126021340,model_3,05.15.2138,26,1,2020-11-26 02:13:40,2020,11
257,10000,20201126050230,model_3,05.15.2138,15,1,2020-11-26 05:02:30,2020,11
258,10000,20201126050232,model_3,05.15.2138,4,0,2020-11-26 05:02:32,2020,11
259,10000,20201126050238,model_3,05.15.2138,4,0,2020-11-26 05:02:38,2020,11
260,10000,20201126050246,model_3,05.15.2138,16,1,2020-11-26 05:02:46,2020,11

In [261]:
len(train_qual.user_id.unique())

8281

In [257]:
train_qual[train_qual.user_id==14300]
# train_qual[:len(dup)][ dup.apply(lambda x : True if x == False else False)]

Empty DataFrame
Columns: [time, user_id, fwver, quality_0, quality_1, quality_2, quality_3, quality_4, quality_5, quality_6, quality_7, quality_8, quality_9, quality_10, quality_11, quality_12]
Index: []

In [235]:
dup = train_qual[train_qual.user_id==10001].duplicated()
train_qual[:len(dup)][ dup.apply(lambda x : True if x == False else False)]

Empty DataFrame
Columns: [time, user_id, fwver, quality_0, quality_1, quality_2, quality_3, quality_4, quality_5, quality_6, quality_7, quality_8, quality_9, quality_10, quality_11, quality_12]
Index: []

In [217]:
train_err['month'] = train_err.datetime.dt.month

In [219]:
train_err['month'].unique()

array([11, 12, 10], dtype=int64)

In [177]:
pd.date_range('2010-01-21-01:03:55',periods=4)[0].second

55

In [56]:
pd.set_option('display.max_row',400)

In [65]:
pd.set_option('display.max_column',100)

In [66]:
pd.get_option('display.max_column')

100

In [54]:
pd.get_option('display.max_row')

200

In [58]:
id_100 = train_err[train_err.user_id==10000]

In [72]:
um =train_err.groupby(['user_id'])[['model_nm']].apply(lambda x : len(x['model_nm'].unique()) )

In [85]:
umc = um.value_counts()
umc.loc[2]/np.sum(umc )

0.0468

In [89]:
usrg = train_err.groupby(['user_id'])

mean of rows for each user

In [102]:
np.sum(usrg['time'].apply(lambda x : len(x)) >25000)

21

In [105]:
len(usrg['time'])

15000

In [103]:
np.sum(usrg['time'].apply(lambda x : len(x)))

16554663

In [111]:
import time

1610181657.1060383

In [124]:
np.sum((train_err['time']%10000)>6000)

0

In [117]:
(train_err['time']%1000000).describe()

count    1.655466e+07
mean     1.245407e+05
std      6.980561e+04
min      0.000000e+00
25%      6.461800e+04
50%      1.304070e+05
75%      1.854190e+05
max      2.359590e+05
Name: time, dtype: float64

In [18]:
train_err['errcode'].unique()

array(['1', '0', '2', ..., '4526', '3965', '25999'], dtype=object)

In [10]:
train_err['model_nm'].value_counts()

model_1    5384491
model_0    4176279
model_2    3473254
model_3    1907438
model_4    1507802
model_8      36064
model_7      35356
model_5      32233
model_6       1746
Name: model_nm, dtype: int64

In [3]:
# 데이터 설명을 확인하면
# ueser_id가 10000부터 24999까지 총 15000개가 연속적으로 존재.
display(train_err.head())
train_user_id_max = 24999
train_user_id_min = 10000
train_user_number = 15000

   user_id            time model_nm       fwver  errtype errcode
0    10000  20201101025616  model_3  05.15.2138       15       1
1    10000  20201101030309  model_3  05.15.2138       12       1
2    10000  20201101030309  model_3  05.15.2138       11       1
3    10000  20201101050514  model_3  05.15.2138       16       1
4    10000  20201101050515  model_3  05.15.2138        4       0

In [4]:
print(np.sort(train_err.errtype.unique()))
# errtype이 1부터 42까지 29를 제외한 41개가 존재.

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 30 31 32 33 34 35 36 37 38 39 40 41 42]

In [5]:
# user_id와 errtype만을 사용하여 데이터 셋 생성
# 모든 일자에 대해서 errtype별 발생 건수를 count
# pandas의 groupby를 활용할 경우 큰 연산 자원이 필요.
# numpy로 placeholder를 만들어 구현함.
id_error = train_err[['user_id','errtype']].values
error = np.zeros((train_user_number,42))

for person_idx, err in tqdm(id_error):
    # person_idx - train_user_id_min 위치에 person_idx, errtype에 해당하는 error값을 +1
    error[person_idx - train_user_id_min,err - 1] += 1
error.shape

100%|██████████████████████████████████████████████████████████████████| 16554663/16554663 [00:38<00:00, 427706.63it/s]

(15000, 42)

In [6]:
#참고) 일별 합산 데이터 생성 코드      
'''
train_err             = pd.read_csv(PATH+'train_err_data.csv')
train_err['datetime'] = train_err['time'].apply(make_datetime)

min_day = train_err.datetime.min().date()

train_err['days'] = train_err.loc[:,'datetime'].dt.date - min_day
train_err['days'] = train_err['days'].dt.days
display(train_err)

id_error = train_err[['user_id','errtype','days']].values
error = np.zeros((train_user_number,42, 33))
for idx, err, days in tqdm(id_error):
    error[idx - train_user_id_min,err - 1, days] += 1
error.shape
'''

"\ntrain_err             = pd.read_csv(PATH+'train_err_data.csv')\ntrain_err['datetime'] = train_err['time'].apply(make_datetime)\n\nmin_day = train_err.datetime.min().date()\n\ntrain_err['days'] = train_err.loc[:,'datetime'].dt.date - min_day\ntrain_err['days'] = train_err['days'].dt.days\ndisplay(train_err)\n\nid_error = train_err[['user_id','errtype','days']].values\nerror = np.zeros((train_user_number,42, 33))\nfor idx, err, days in tqdm(id_error):\n    error[idx - train_user_id_min,err - 1, days] += 1\nerror.shape\n"

## 2.15 train_quality

In [11]:
train_qual = pd.read_csv(PATH+'train_quality_data.csv')

In [14]:
train_qual

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
1,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
2,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
3,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
4,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0,0,0,0,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828619,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,1,0,0,0,0,17,0,0
828620,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,0,0,0,0,0,17,0,0
828621,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,3,0,0,0,0,17,0,0
828622,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,0,0,0,0,0,17,0,0
828623,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,9,0,0,0,0,17,0,0

## 2.2 problem

In [6]:
train_prob = pd.read_csv(PATH+'train_problem_data.csv')

In [9]:
train_prob.sort_values(['time'])

      user_id            time
1084    18786  20201101000000
1455    21363  20201101010000
3192    14795  20201101010000
2488    17524  20201101010000
4925    11065  20201101020000
...       ...             ...
2760    22385  20201130220000
4149    11913  20201130220000
4589    12730  20201130220000
1425    13144  20201130230000
1049    18299  20201130230000

[5429 rows x 2 columns]

In [130]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [147]:
a = pd.DataFrame(np.random.randint(0,11,size=(10,3) )  )
b=pd.DataFrame(np.zeros(10))
c=np.zeros(10)
b[0][0]=4
c[b]=3

KeyError: 1

In [7]:
problem = np.zeros(15000)
# error와 동일한 방법으로 person_idx - 10000 위치에 
# person_idx의 problem이 한 번이라도 발생했다면 1
# 없다면 0
problem[train_prob.user_id.unique()-10000] = 1 
problem.shape

(15000,)

# 3. Light-gbm 모델 훈련

In [8]:
# 변수 이름 변경
# error  -> train_x
# problem-> train_y

train_x = error
train_y = problem
del error, problem
print(train_x.shape)
print(train_y.shape)

(15000, 42)
(15000,)

In [9]:
# Train
#-------------------------------------------------------------------------------------
# validation auc score를 확인하기 위해 정의
def f_pr_auc(probas_pred, y_true):
    labels=y_true.get_label()
    p, r, _ = precision_recall_curve(labels, probas_pred)
    score=auc(r,p) 
    return "pr_auc", score, True
#-------------------------------------------------------------------------------------
models     = []
recalls    = []
precisions = []
auc_scores   = []
threshold = 0.5
# 파라미터 설정
params =      {
                'boosting_type' : 'gbdt',
                'objective'     : 'binary',
                'metric'        : 'auc',
                'seed': 1015
                }
#-------------------------------------------------------------------------------------
# 5 Kfold cross validation
k_fold = KFold(n_splits=5, shuffle=True, random_state=42)
for train_idx, val_idx in k_fold.split(train_x):

    # split train, validation set
    X = train_x[train_idx]
    y = train_y[train_idx]
    valid_x = train_x[val_idx]
    valid_y = train_y[val_idx]

    d_train= lgb.Dataset(X, y)
    d_val  = lgb.Dataset(valid_x, valid_y)
    
    #run traning
    model = lgb.train(
                        params,
                        train_set       = d_train,
                        num_boost_round = 1000,
                        valid_sets      = d_val,
                        feval           = f_pr_auc,
                        verbose_eval    = 20, 
                        early_stopping_rounds = 3
                       )
    
    # cal valid prediction
    valid_prob = model.predict(valid_x)
    valid_pred = np.where(valid_prob > threshold, 1, 0)
    
    # cal scores
    recall    = recall_score(    valid_y, valid_pred)
    precision = precision_score( valid_y, valid_pred)
    auc_score = roc_auc_score(   valid_y, valid_prob)

    # append scores
    models.append(model)
    recalls.append(recall)
    precisions.append(precision)
    auc_scores.append(auc_score)

    print('==========================================================')

[LightGBM] [Info] Number of positive: 3633, number of negative: 8367
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.002308 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 4353
[LightGBM] [Info] Number of data points in the train set: 12000, number of used features: 41
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.302750 -> initscore=-0.834237
[LightGBM] [Info] Start training from score -0.834237
Training until validation scores don't improve for 3 rounds
[20]	valid_0's auc: 0.797482	valid_0's pr_auc: 0.79351
Early stopping, best iteration is:
[25]	valid_0's auc: 0.800713	valid_0's pr_auc: 0.798635
==========================================================
[LightGBM] [Info] Number of positive: 4828, number of negative: 7172
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001780 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 4499
[LightGBM] [Info] Number of data points in the train set: 12000, number of used features: 41
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.402333 -> initscore=-0.395752
[LightGBM] [Info] Start training from score -0.395752
Training until validation scores don't improve for 3 rounds
Early stopping, best iteration is:
[2]	valid_0's auc: 0.788479	valid_0's pr_auc: 0.318902
==========================================================
[LightGBM] [Info] Number of positive: 4718, number of negative: 7282
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.002428 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 4606
[LightGBM] [Info] Number of data points in the train set: 12000, number of used features: 41
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.393167 -> initscore=-0.434021
[LightGBM] [Info] Start training from score -0.434021
Training until validation scores don't improve for 3 rounds
Early stopping, best iteration is:
[2]	valid_0's auc: 0.758498	valid_0's pr_auc: 0.358092
==========================================================
[LightGBM] [Info] Number of positive: 4544, number of negative: 7456
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001826 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 4510
[LightGBM] [Info] Number of data points in the train set: 12000, number of used features: 41
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.378667 -> initscore=-0.495211
[LightGBM] [Info] Start training from score -0.495211
Training until validation scores don't improve for 3 rounds
Early stopping, best iteration is:
[10]	valid_0's auc: 0.807486	valid_0's pr_auc: 0.551353
==========================================================
[LightGBM] [Info] Number of positive: 2277, number of negative: 9723
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001681 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 4280
[LightGBM] [Info] Number of data points in the train set: 12000, number of used features: 41
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.189750 -> initscore=-1.451635
[LightGBM] [Info] Start training from score -1.451635
Training until validation scores don't improve for 3 rounds
Early stopping, best iteration is:
[13]	valid_0's auc: 0.80189	valid_0's pr_auc: 0.974435
==========================================================

# 4. 교차검증 점수 확인

In [10]:
print(np.mean(auc_scores))

0.7914130199022232

# 5. 제출 파일 생성

In [11]:
test_err  = pd.read_csv(PATH+'test_err_data.csv')
display(test_err.head())

   user_id            time model_nm       fwver  errtype errcode
0    30000  20201101030227  model_1  04.16.3553       31       1
1    30000  20201101030227  model_1  04.16.3553       33       2
2    30000  20201101030228  model_1  04.16.3553       15       1
3    30000  20201101030256  model_1  04.16.3553       22       1
4    30000  20201101030300  model_1  04.16.3553       11       1

In [12]:
# 데이터 설명을 확인하면
# test 데이터는 ueser_id가 30000부터 44998까지 총 14999개가 존재.
test_user_id_max = 44998
test_user_id_min = 30000
test_user_number = 14999

In [13]:
id_error = test_err[['user_id','errtype']].values
test_x = np.zeros((test_user_number,42))
for person_idx, err in tqdm(id_error):
    # person_idx - test_user_id_min 위치에 person_idx, errtype에 해당하는 error값을 +1
    test_x[person_idx - test_user_id_min,err - 1] += 1
test_x = test_x.reshape(test_x.shape[0],-1)
print(test_x.shape)

100%|██████████████████████████████████████████████████████████████████| 16532648/16532648 [00:41<00:00, 395881.59it/s]

(14999, 42)

In [14]:
# 예측
pred_y_list = []
for model in models:
    pred_y = model.predict(test_x)
    pred_y_list.append(pred_y.reshape(-1,1))
    
pred_ensemble = np.mean(pred_y_list, axis = 0)

In [15]:
pred_ensemble

array([[0.57755635],
       [0.26089892],
       [0.31557557],
       ...,
       [0.38301962],
       [0.61611595],
       [0.34348301]])

In [16]:
sample_submssion = pd.read_csv(PATH+'sample_submission.csv')

In [17]:
sample_submssion['problem'] = pred_ensemble.reshape(-1)

In [18]:
sample_submssion.to_csv("dacon_baseline.csv", index = False)
sample_submssion

       user_id   problem
0        30000  0.577556
1        30001  0.260899
2        30002  0.315576
3        30003  0.535576
4        30004  0.454501
...        ...       ...
14994    44994  0.329001
14995    44995  0.315880
14996    44996  0.383020
14997    44997  0.616116
14998    44998  0.343483

[14999 rows x 2 columns]